[submodule "opus"]
	path = app/jni/third_party/opus
	url = https://github.com/xiph/opus
	shallow = true
[submodule "opusfile"]
	path = app/jni/third_party/opusfile
	url = https://github.com/xiph/opusfile
	shallow = true
[submodule "ogg"]
	path = app/jni/third_party/ogg
	url = https://github.com/xiph/ogg
	shallow = true
